<app-header></app-header>

<div class="container">
    <h1>Promena lozinke</h1>
    <div class="table">
        <table>
            <tr>
                <td>Unesite korisnicko ime: </td>
                <td><input type="text" name="username" id="username" [(ngModel)]="username"></td>
            </tr>
            <tr *ngIf="errUsername!=''">
                <td colspan="2" class="error">
                    {{ errUsername }}
                    <hr>
                </td>
            </tr>
            <tr>
                <td>Unesite staru lozinku: </td>
                <td><input type="password" name="old" id="old" [(ngModel)]="old"></td>
            </tr>
            <tr *ngIf="errOld!=''">
                <td colspan="2" class="error">
                    {{ errOld }}
                    <hr>
                </td>
            </tr>
            <tr>
                <td>Unesite novu lozinku: </td>
                <td><input type="password" name="password" id="password" [(ngModel)]="password"></td>
            </tr>
            <tr>
                <td>Ponovite novu lozinku: </td>
                <td><input type="password" name="check" id="check" [(ngModel)]="check"></td>
            </tr>
            <tr *ngIf="errPassword!=''">
                <td colspan="2" class="error">
                    {{ errPassword }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="button" (click)="change()">Potvrdi</button>
                </td>
            </tr>
        </table>
    </div>
</div>