.container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #C75B7D;
}

table {
    margin-top: -5px;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

input[type="text"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #C75B7D; 
    border-color: #C75B7D;
    border-radius: 5px;
}

.button:hover {
    background-color: #C75B7D;
    color: #fff;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
