.container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

.image-cell {
    text-align: center;
}

.image-cell img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

h3 {
    color: #C75B7D;
}

#review {
    width: 100%;
    margin: 20px auto;
}

.container hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; 
  border-top: 1px solid #ddd; 
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #C75B7D; 
    color: #fff;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 8px 23.5px;
    font-size: 14px;
    text-decoration: none;
    color: #C75B7D; ;
    background-color: #fff; 
    border: 1px solid #fff; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
    background-color: #fff;
    color: #C75B7D; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C75B7D; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #C75B7D; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-button.dropdown-toggle {
    color: white;
}

.table-container {
    width: 53%; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 53%; 
    border-collapse: collapse;
}

table {
    margin-top: -5px;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

#statistic .table {
  width: 100%;
  margin-left: 0;
}

td {
    padding: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #C75B7D;
    border-color: #C75B7D;;
    border-radius: 5px;
}

.button:hover {
    background-color: #C75B7D;
    color: #fff;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.table {
    margin-top: -5px;
    width: 80%; 
    margin: auto;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
  
input[type="text"], select {
    width: 80%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.calendar-container th {
    background-color: #C75B7D;
    color: white;
}

