.container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    margin: 0;
    background-color: #f4f4f4;
}

.table-container {
    width: 100%; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 85%; 
    border-collapse: collapse;
}

h1 {
    text-align: center;
    color: #C75B7D;
}

td {
    padding: 10px;
}

tr:hover {
    background-color: #e0e0e0;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #C75B7D;
    border: 1px solid #C75B7D;
    border-radius: 5px;
}

.button:hover {
    background-color: #C75B7D;
    color: #fff;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #C75B7D; 
    color: #fff;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 8px 23.5px;
    font-size: 14px;
    text-decoration: none;
    color: #C75B7D; ;
    background-color: #fff; 
    border: 1px solid #fff; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
    background-color: #fff;
    color: #C75B7D; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C75B7D; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #C75B7D; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-button.dropdown-toggle {
    color: white;
}

.classes {
    padding-bottom: 5%;
}

.requests {
    padding-bottom: 5%
}

.workTime {
    padding-bottom: 5%;
}

h2 {
    color: #C75B7D;
}

